@model IEnumerable<Arac>


@foreach (var item in Model)
{
    <div class="col mb-5">
        <div class="card h-100">
            <div class="badge position-absolute" style="top: 0.5rem; right: 0.5rem;">
                <form action="/Favorites/Add" method="post">
                    <input type="hidden" name="aracId" value="@item.Id" />
                    <button type="submit" class="btn btn-outline-light mt-2">
                        <i class="bi bi-heart"></i>
                    </button>
                </form>
            </div>
            <a class="btn mt-auto" href="/Arac/Index/@item.Id">
                <!-- Product image-->
                <img class="card-img-top" src="/Img/Cars/@item.Resim1" alt="...">
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">@item.Marka.Adi @item.Modeli @item.KasaTipi</h5>
                        <!-- Product price-->
                        @item.Fiyati ₺
                    </div>
                </div>
            </a>
        </div>
    </div>
}
